h1 {
  font-family: "Pacifico", cursive;
}
h2 {
  text-align: left;
  font-family: "Pacifico", cursive;
  font-size: 20px;
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
}

.card {
  display: block;
  margin: 0px auto;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  max-width: 80%;
  max-height: 50%;
  background-color: #d6e4e5 !important;
}
.row {
  margin: 2px 0;
}

.next-row p {
  font-size: 20px;
}
.units {
  position: relative;
  font-size: 20px;
}

.city-temp {
  font-size: 58px;
  font-weight: 400;
  line-height: 1;
  padding: 0;
}
.city-name {
  margin: 10px 0;
  font-weight: 500;
  font-size: 38px;
  text-align: center;
}
.current-button {
  margin-left: 5px;
}

.dis-weather {
  font-size: 20px;
  font-family: "Pacifico", cursive;
}

.code-by {
  text-align: center;
  max-width: 70%;
  margin: 10px auto;
}

.wather-forcast-date {
  font-family: "Pacifico", cursive;
}
